doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/shop.css")
        link(rel="stylesheet", href="/css/add-product.css")
    body 
        include ../includes/navigation.pug 
        main
            if(erorrMessage)
                div.erorrMessage.invaled #{erorrMessage}
            form( action='/login' ,method="POST")
                input(type='hidden',name='_csrf' ,value=csrfToken)
                div.label E-mail:
                if validationError === 'email'
                    input(type="email" ,name="email",class='invaledinput',value=oldInput.email)
                else
                    input(type="email" ,name="email")
                div.label Password:
                if validationError === 'password'
                    input(type="password" ,name="password",class='invaledinput',value=oldInput.password)
                else
                    input(type="password" ,name="password")
                button.btn(type="submit") Login  
            div(style='text-align:center') 
                a(href='/reset',class=(path==='/reset'?'active':'')) Reset Password
