doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/add-product.css")
        link(rel="stylesheet", href="/css/shop.css")
    body 
    include ../includes/navigation
    
    h1 #{ product.title }
    hr
    div 
        img(src='/'+product.imgUrl,width='300',height='300', alt=product.title)
    div 
        h2 #{product.price}$ 
        h2 #{product.description}
    if (isAuthentcated)
        include ../includes/add-to-cart